@model IEnumerable<Agenda.Models.Contato>

<link rel="stylesheet" href="~/css/test.css" asp-append-version="true"/>

@{
    ViewData["Title"] = "Index";
}

<h1>Seus contatos</h1>

<div> 
    <p>
        <a class="hh" asp-action="Create">Adicionar um novo contato</a> - <a class="hh" asp-action="Busca">Procurar um contato</a>
    </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <!-- <a asp-action="Details" asp-route-id="@item.Id">Mostrar</a> |-->
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
